<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>205139614258-kpongl2oug5dink1t7ueqauj0c56ur99.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.205139614258-kpongl2oug5dink1t7ueqauj0c56ur99</string>
	<key>API_KEY</key>
	<string>AIzaSyDYr2Vd_Ewxt_xdzQRSLkSUTVyT08rnY3I</string>
	<key>GCM_SENDER_ID</key>
	<string>205139614258</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finalProject</string>
	<key>PROJECT_ID</key>
	<string>tuwaiq-community</string>
	<key>STORAGE_BUCKET</key>
	<string>tuwaiq-community.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:205139614258:ios:b1e9c3ec6f74356a16ba2b</string>
</dict>
</plist>